@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
}

@layer components {
    .greeting{
        background: rgb(0,0,0);
        background: linear-gradient(231deg, rgba(0,0,0,1) 0%, rgba(6,11,75,1) 75%, rgba(16,16,73,1) 100%);
        background-repeat: no-repeat;
    }
}

